.Header {
  background-color: #fff;
  position: relative;
}
.Header .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px 0;
}
.header_bottom {
  background-color: #3b3b3b;
  height: 28px;
  width: 100%;
}
.logo {
  font-weight: 900;
  font-size: 1.5em;
}
.logo img {
  margin-right: 10px;
}
.logo {
  margin-right: 30px;
  display: block;
}
.driver {
  color: orange;
}
#btn_toggle_menu {
  background-color: #3b3b3b;
  color: #fff;
  padding: 4px 8px;
  margin: 0;
  outline: none;
  border: none;
  border-radius: 8px;
  position: absolute;
  right: 12px;
  top: 0;
  display: none;
  transform: translateY(50%);
}
#btn_toggle_menu:hover {
  background-color: #000;
  border-radius: 0;
}
#links {
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
  list-style: none;
  transition: all 0.6s ease;
}
#links li:not(:last-child) {
  margin-right: 36px;
}
#links li a {
  display: block;
  text-align: center;
  padding: 10px 3.375rem; /* 10px 54px */
  border: 2px solid rgba(59, 59, 59, 0.49);
  text-decoration: none;
  font-weight: bold;
  color: #3b3b3b;
}
#links li a:hover,
#links li.active a {
  background-color: #3b3b3b;
  color: #fff;
}
/* #links li:last-child a {
  border: none;
  padding: 10px 48px;
  margin-left: 0px;
} */
.hide-toggle::after {
  content: none;
}
.Menu #navbarDropdown {
  border: none;
  padding: 10px 28px;
  margin: 0px;
}
#navbarDropdownMenu {
  padding: 6px;
}
#navbarDropdownMenu .dropdown-item {
  border: none;
  padding-left: 10px;
  padding-right: 10px;
}
@media (max-width: 768px) {
  #navbarDropdownMenu {
    width: 100%;
  }
}
.hide {
  display: none;
}
/* Small screens */
@media (max-width: 767px) {
  .Header .top {
    flex-direction: column;
    padding: 4px 2px;
  }
  #btn_toggle_menu {
    display: block;
  }
  .logo {
    margin: 0;
    width: 100%;
    margin-bottom: 14px;
  }
  #links {
    flex-direction: column;
    display: none;
  }
  #links li {
    margin: 0;
    width: 100%;
  }
  #links li a {
    display: block;
    margin: 0;
    margin-bottom: 4px;
  }
  #links .Menu {
    text-align: center;
    margin: 6px 0;
  }
}
/* large screens */
@media (min-width: 768px) {
  #links {
    display: flex;
  }
}
