.Header {
  background-color: #fff;
}
.Header .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 0;
}
.header_bottom {
  background-color: #3b3b3b;
  height: 28px;
  width: 100%;
}
.logo {
  font-weight: 700;
  font-size: 1.5em;
}
.logo img {
  margin-right: 10px;
}
.logo {
  margin-right: 30px;
}
.driver {
  color: orange;
}

#links {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}
#links li {
  margin-right: 36px;
}
#links li a {
  text-align: center;
  padding: 10px 54px;
  border: 2px solid rgba(59, 59, 59, 0.49);
  text-decoration: none;
  font-weight: bold;
  color: #3b3b3b;
}
#links li a:hover,
#links li.active a {
  background-color: #3b3b3b;
  color: #fff;
}
#links li:last-child a {
  border: none;
  padding: 10px 48px;
  margin-left: 8px;
}
.hide-toggle::after {
  content: none;
}

@media (max-width: 768px) {
  .Header .top {
    flex-direction: column;
    padding: 4px 0;
  }
  .logo {
    /* background-color: green; */
    margin: 0;
    width: 100%;
    margin-bottom: 14px;
  }
  #links {
    flex-direction: column;
    /* background: orange; */
  }
  #links li {
    margin: 0;
    width: 100%;
  }
  #links li a {
    display: block;
    margin: 0;
    margin-bottom: 4px;
  }
  #links .Menu {
    text-align: center;
    margin: 6px 0;
  }
}
