@media (max-width: 768px) {
  .Body {
    display: block;
  }
  #left-section,
  #left-section > * {
    display: none;
  }
  #middle-section {
    width: 100%;
  }
  #right-section,
  #right-section > * {
    display: none;
  }

  #middle-section {
    margin: 0;
  }
}
@media (max-width: 768px) {
}
