#back_button {
  display: none;
  padding: 0 16px;
  margin-top: 18px;
  margin-left: 14px;
  border: none;
  outline: none;
  color: #3b3b3b;
}
#back_button:hover {
  color: rgb(0, 0, 0);
}
#back_button .fa-arrow-left {
  font-size: 1.5em;
}
.hide {
  display: inline;
}
@media (max-width: 576px) {
  span.hide {
    display: none;
  }
}
@media (max-width: 768px) {
  .Body {
    display: block;
  }
  #left-section,
  #left-section > * {
    display: none;
  }
  #middle-section {
    width: 100%;
  }
  #right-section {
    display: none;
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }
  #back_button {
    display: inline-block;
    background: none;
  }
  #new_chat {
    font-size: 1rem;
  }
  .chat_footer {
    padding: 2px;
    padding-top: 10px;
  }
  div.type_message {
    width: 100%;
    margin: 0;
  }
  div.type_message textarea {
    padding: 10px 10px;
  }
  #right-section > * {
    margin-right: 0;
  }
  #middle-section {
    margin: 0;
  }
}
