.Message {
  position: relative;
  margin-bottom: 28px;
}
.message {
  color: black;
  font-size: 15px;
  border-radius: 15px 15px 0px 15px;
  border: none;
  padding: 8px 12px;
  width: 90%;
  clear: both;
  position: relative;
}
.message:first-child {
  margin-top: 16px;
}
.message_time {
  font-size: 15px;
}
